.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;

  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--main);

}

.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconRating {
  fill: var(--rating);
}