.reviewHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
width: 60px;
height: 60px;
background: var(--badges);

font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
color: var(--button);
}

.name {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--main);
}

.stars {
  display: flex;
  gap: 4px;
}

.iconRating use.filled {
  fill: var(--rating);
}

.iconRating use.empty {
  fill: var(--badges);
}

.comment {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--text);
}