.features {
  display: flex;
  gap: 8px;

  flex-wrap: wrap;
  margin-bottom: 100px;
}

.feature {
  display: flex;             
  align-items: center;  
  justify-content: center;
  gap: 6px; 
  border-radius: 100px;
padding: 12px 18px;
height: 48px;

background: var(--gray-light);

font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--main);

}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}